* {
  box-sizing: border-box;
  margin: 0px 0px;
  padding: 0px 0px;
}

#appName {
  font-size: larger;
  font-weight: bolder;
}

#navbar {
  display: flex;
  background-color: black;
  color: whitesmoke;
  padding: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.navpart {
  font-size: large;
  display: inline;
  /* background-color: saddlebrown; */
}
.navItem,
.navList {
  display: inline;
  margin: 10px;
  padding: 5px;
}
#RightSideOfNav {
  position: relative;
  right: 0px;
}

.table-users th,
td {
  text-align: center;
  padding: 2px 6px;
}
